@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
   .headerDiv{
       @apply 
       bg-gray-700 
       z-50 
       top-0 
       sticky 
       py-5 
       flex 
       justify-between 
       items-center
       px-6 
       border-b-2 
       border-gray-600
   } 

   .footerDiv{
       @apply
    bg-gray-500
      bottom-0
      sticky
      z-50
      py-6
      px-10
      justify-between
      flex
   }

   .link{
    @apply 
    text-lg
    cursor-pointer 
    hover:underline
   }

   .footerLinks{
    @apply 
    flex 
    items-center 
    space-x-4 
    text-gray-50
   }

   .headerIcons{
      @apply h-6 cursor-pointer hover:opacity-80 md:hidden      
   }

   .footerIcons{
      @apply h-6 cursor-pointer hover:opacity-80 md:hidden
   }

   .homeBtn{
      @apply 
      bg-gray-700
      p-3
      rounded-md
      ring-gray-200
      text-sm
      text-gray-300
      hover:ring-1
      focus:outline-none
      active:ring-gray-300
      hover:shadow-md
   }

   .searchLinks{
      @apply
      flex 
        items-center 
        space-x-2
        text-blue-200
        active:text-blue-300
        cursor-pointer
   }

   .linkIcon{
      @apply
      h-6
      cursor-pointer
      hover:opacity-80
   }

   .linkTitle{
      @apply
      hidden 
      md:inline-flex 
      md:text-lg 
      xl:text-xl
   }

   .chatIcon{
      @apply
      h-8
      lg:h-12
      text-blue-400
      hover:text-blue-300
      cursor-pointer
   }
}  